<form class="{{cssClass}} flexcol npc-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="NPC Name"/>
            </h1>
            <div class="character-details grid grid-2col">
                <div class="detail-item">
                    <label>Allegiance</label>
                    <select class="allegiance-select" name="system.allegiance">
                        {{#select system.allegiance}}
                        {{#each config.allegiances as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="detail-item">
                    <div class="grid grid-2col">
                        <div class="resource">
                            <label>Level</label>
                            <input type="number" name="system.level" value="{{system.level}}" placeholder="1"/>
                        </div>
                        <div class="resource">
                            <label>Challenge</label>
                            <input type="number" name="system.challenge" value="{{system.challenge}}" placeholder="1"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Navigation --}}
    <nav class="sheet-navigation">
        <a class="item" data-tab="description">
            <i class="fas fa-book-open"></i> Description
        </a>
        <a class="item" data-tab="attributes">
            <i class="fas fa-chart-bar"></i> Attributes
        </a>
        <a class="item" data-tab="equipment">
            <i class="fas fa-shield-alt"></i> Equipment
        </a>
        <a class="item" data-tab="behavior">
            <i class="fas fa-brain"></i> Behavior
        </a>
        <a class="item" data-tab="rewards">
            <i class="fas fa-coins"></i> Rewards
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">
                {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            {{!-- Resources --}}
            <div class="section-header">
                <span>Resources</span>
            </div>
            <div class="resources">
                <div class="resource">
                    <label>HP</label>
                    <div class="resource-values">
                        <input type="number" class="resource-value" name="system.attributes.hp.value" 
                            value="{{system.attributes.hp.value}}" data-resource="hp" data-field="value"/>
                        <span>/</span>
                        <input type="number" class="resource-value" name="system.attributes.hp.max" 
                            value="{{system.attributes.hp.max}}" data-resource="hp" data-field="max"/>
                    </div>
                </div>
                <div class="resource">
                    <label>MP</label>
                    <div class="resource-values">
                        <input type="number" class="resource-value" name="system.attributes.mp.value" 
                            value="{{system.attributes.mp.value}}" data-resource="mp" data-field="value"/>
                        <span>/</span>
                        <input type="number" class="resource-value" name="system.attributes.mp.max" 
                            value="{{system.attributes.mp.max}}" data-resource="mp" data-field="max"/>
                    </div>
                </div>
                <div class="resource">
                    <label>EP</label>
                    <div class="resource-values">
                        <input type="number" class="resource-value" name="system.attributes.ep.value" 
                            value="{{system.attributes.ep.value}}" data-resource="ep" data-field="value"/>
                        <span>/</span>
                        <input type="number" class="resource-value" name="system.attributes.ep.max" 
                            value="{{system.attributes.ep.max}}" data-resource="ep" data-field="max"/>
                    </div>
                </div>
            </div>

            {{!-- Abilities --}}
            <div class="section-header">
                <span>Abilities</span>
            </div>
            <div class="abilities">
                {{#each system.abilities as |ability key|}}
                <div class="ability">
                    <label>{{lookup ../config.abilities key}}</label>
                    <input type="number" class="ability-score" name="system.abilities.{{key}}.value" 
                        value="{{ability.value}}" data-ability="{{key}}"/>
                    <span class="ability-mod">({{numberFormat ability.mod sign=true}})</span>
                </div>
                {{/each}}
            </div>

            {{!-- Traits --}}
            <div class="section-header">
                <span>Traits</span>
            </div>
            <div class="traits">
                <div class="attributes">
                    <label>
                        Attributes
                        <a class="item-create" data-type="attribute"><i class="fas fa-plus"></i></a>
                    </label>
                    <div class="item-list">
                        {{#each attributes as |item id|}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="defects">
                    <label>
                        Defects
                        <a class="item-create" data-type="defect"><i class="fas fa-plus"></i></a>
                    </label>
                    <div class="item-list">
                        {{#each defects as |item id|}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab" data-group="primary" data-tab="equipment">
            <div class="equipment">
                <div class="equipment-section">
                    <label>
                        Weapons
                        <a class="item-create" data-type="weapon"><i class="fas fa-plus"></i></a>
                    </label>
                    <div class="item-list">
                        {{#each equipment.weapons as |item id|}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="equipment-section">
                    <label>
                        Armor
                        <a class="item-create" data-type="armor"><i class="fas fa-plus"></i></a>
                    </label>
                    <div class="item-list">
                        {{#each equipment.armor as |item id|}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="equipment-section">
                    <label>
                        Items
                        <a class="item-create" data-type="item"><i class="fas fa-plus"></i></a>
                    </label>
                    <div class="item-list">
                        {{#each equipment.items as |item id|}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Behavior Tab --}}
        <div class="tab" data-group="primary" data-tab="behavior">
            <div class="form-group">
                <label>Combat Tactics</label>
                <div class="editor">
                    {{editor content=system.behavior.tactics target="system.behavior.tactics" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="form-group">
                <label>Motivations</label>
                <div class="editor">
                    {{editor content=system.behavior.motivations target="system.behavior.motivations" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="form-group">
                <label>Quirks</label>
                <div class="editor">
                    {{editor content=system.behavior.quirks target="system.behavior.quirks" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Rewards Tab --}}
        <div class="tab" data-group="primary" data-tab="rewards">
            <div class="form-group">
                <label>Experience Points</label>
                <input type="number" name="system.rewards.xp" value="{{system.rewards.xp}}"/>
            </div>

            <div class="rewards-items">
                <label>
                    Loot Items
                    <a class="item-create" data-type="loot"><i class="fas fa-plus"></i></a>
                </label>
                <div class="item-list">
                    {{#each system.rewards.items as |item id|}}
                    <div class="item" data-item-id="{{item._id}}">
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-controls">
                            <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form> 